*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height: 100vh;
    font-size: 14px;
}


 /* dvh is more flexible than vh but does not work well in old  browsers*/ 

@supports(height:100dvh){
    body{
        min-height: 100dvh;
    }
}

header{
background-color: #D3D3D3;
display:flex;
flex-direction: column;
align-items: center;
padding: 10px;    
}

p{
    color:#E25822 ;

}

#nav-bar{
    display: flex;
    background-color:#E25822 ;
    justify-content: space-around;
}

#nav-bar a{
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: gold;
    color:#391796;
}

#nav-bar a:hover{
    cursor: pointer;
    color:#aa25e7 ;
}

.conteneur{
    display: flex;
    justify-content: center;
    
}

.article_presentation{
    border: 3px solid gold;
    padding: 10px;
    margin: 10px;
    box-shadow: 12px 12px 2px 1px #aa25e7 ;
}


@media(max-width:600px) {
    #nav-bar{
        flex-direction: column;
        align-items: center;
    }
    .conteneur{
        flex-direction: column;
    }
}